/* div{
    background-color: black;
} */

.child{
    height: 100px;
    width: 100px;
    background-color: darkgoldenrod;
    margin: 10px;

}

#firstchild{
    background-color: blueviolet;
}

#parent{
    border: 3px solid red;
    
}

h1{
    border: 3px solid black;
    margin: 20px;
    padding: 20px;
}