/* Welcome page */
main{
    display: flex;
    align-items: center;
    padding: 50px;
}

.loggedout img{
    width: 400px;
    padding: 40px;
}

.loggedout h1{
    font-size: 3em;
    font-weight: 750;
    padding: 40px;
}

.loggedout p{
    padding: 40px;
}

strong{
    font-weight: 900;
}


/* ----- User Page ----- */
main.loggedin{
    margin: auto;
    padding: 0;
    width: 90%;
    display: flex;
    justify-content: space-between;
}


/* Input Section */
section.input-side{
    width: 50%;
    /* border: 2px solid orange; */
    display: grid;
    row-gap: 15px;
}

section.input-side h2{
    margin-top: 15px;
}

section.input-side .deviceinput{
    display: flex;
    gap: 10px;
    width: 80%;
}

section.input-side .deviceinput button{
    align-self: flex-end;
    margin-bottom: 10px;
    width: 20px;
    height: 20px;
}

section.input-side label{
    font-weight: bold;
}

section.input-side p{
    text-align: left;
    width: auto;
    padding: 0 0 10px 0;
}

section.input-side li{
    display: grid;
    grid-template-columns: 3fr 2fr 1fr;
    justify-items: center;
    background-color: white;
    width: 50%;
    padding: 5px;
}

select{
    background-color: lightgrey;
    margin: 10px 0;
}

section.input-side button{
    background-color: lightgray;
    font-size: large;
    border-color: lightgray;
    line-height: 50%;
    width: 20px;
    height: 20px;
    outline: none;
    border: none;
}

section.input-side .calculate{
    width: 100px;
    height: auto;
    align-self: center;
    background-color: blue;
    border: blue;
    color: white;
    padding: 10px;
    border-radius: 15px;
    outline: none;
    font-size: medium;
}



/* Output Section */
section.output-side{
    align-content: center;    
    width: 40%;
    /* border: 2px solid red; */
    display: grid;
    row-gap: 15px;
}

/* Pie chart */
/* .pie {
  (A1) CIRCLE
  margin: auto;
  width: 400px; height: 400px;
  border-radius: 50%;
 
  (A2) SEGMENTS
  background: conic-gradient(
    lightblue 0deg 45deg,
    grey 45deg 190deg,
    blue 190deg 360deg
  );
} */

section.output-side h3{
    text-align: center;
}

section.output-side .result{
    font-weight: 800;
    font-size: 2rem;
}