*{
    margin: 0;
    padding: 0;
}
#register h1, #login h1{
    margin: auto;
}

#register, #login{
    padding: 20px 0;
}

#register{
    display: grid;
    width: 350px;
    height: 400px;
    background-color:rgba(255, 255, 255, 1);
    margin: auto;
    align-self: center;
    margin-top: 100px;
    border-radius: 20px;
    text-align: center;
}

#login{
    display: grid;
    width: 350px;
    height: 300px;
    background-color:rgba(255, 255, 255, 1);
    margin: auto;
    align-self: center;
    margin-top: 100px;
    border-radius: 20px;
    text-align: center;
}

section h1{
    margin: 0;
}

section p{
    margin: auto;
    width: 70%;
    padding: 0px;
}


a{
    text-decoration: underline;
    color: blue;
}

form {
    display: flex;
    flex-direction: column;
    margin: auto;
    padding-top: 10px;
    gap: 10px;
    /* border: 2px solid rgb(255, 0, 0); */
    width: 80%;
    height: 100%;
}

form div{
    display: grid;
    grid-template-columns: 1fr 2fr;
    align-items: space-between;
    margin: auto;
    width: 100%;
    /* border: 1px solid black; */
}

label {
    text-align: left;
}

.submit {
    align-self: center;
    background-color: blue;
    color: white;
    margin: 10px auto 20px;
    padding: 5px;
    border-radius: 15px;
    width: 90px;
    border-color: blue;
}

.linkto{
    font-size: .75em;
}